.formBase {
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center;     /* Alinha verticalmente */
    height: 100vh;
    padding: 20px;
}
.caixatxt {
    
}
